* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(13, 13, 13, 0.7); /* Deep dark gray background */
    color: #e0e0e0;            /* Light gray text for contrast */
    border-bottom: 1px solid #1a1a1a;
}


#workspaces button {
    background: transparent;
    color: #666666;
    padding: 0 10px;
    border-bottom: 2px solid transparent;
}

#workspaces button:hover {
    color: #aaaaaa;
}

#workspaces button.active {
    color: #ffffff;
    background-color: #1a1a1a;
    border-bottom: 2px solid #00bcd4; /* Cyan underline */
}

#workspaces button.urgent {
    color: #ff6666;
    background-color: #1f1f1f;
}

#clock,
#cpu,
#memory,
#network,
#wireplumber,
#tray,
#battery {
    padding: 0 12px;
    color: #cccccc;
}

#battery.charging,
#battery.plugged {
    color: #00ffcc;
}

#battery.warning {
    color: #ffaa00;
}

#battery.critical:not(.charging) {
    color: #ff4444;
    font-weight: bold;
}

#network.disconnected {
    color: #f53c3c;
}

#wireplumber.muted {
    color: #f53c3c;
}

#tray {
    padding-right: 12px;
}
