* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: #101010; /* Solid black background */
    color: #ffffff;            /* White text */
    border-bottom: 1px solid #222222;
}

#workspaces button {
    background: transparent;
    color: #888888;
    padding: 0 10px;
}

#workspaces button.active {
    color: #ffffff;
    background: #222222;
}

#workspaces button.urgent {
    color: #ff5555;
    background: #000000;
}

#clock,
#cpu,
#memory,
#network,
#wireplumber,
#tray,
#battery {
    padding: 0 10px;
    color: #dddddd;
}

#battery.charging, #battery.plugged {
    color: #00ff00;
}

#battery.warning {
    color: #ffaa00;
}

#battery.critical:not(.charging) {
    color: #ff0000;
}

#tray {
    padding-right: 10px;
}

#network.disconnected {
    color: #f53c3c;
}

#wireplumber.muted {
    color: #f53c3c;
}
